
.react-autosuggest__container--open{
	position: relative;

}
.react-autosuggest__input{

}
.react-autosuggest__suggestions-container{
	background: #fff;
	
	position: absolute;
	top:34px;
	left: 0;
	z-index: 2;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.35);
	width: 100%;
}
.react-autosuggest__suggestion{
	display: inline-block;
	// height: 30px;
	// line-height: 30px;
	width: 100%;
	padding: 1rem;
}
.react-autosuggest__suggestion--focused{
	background: #77C7E5;
	color: #fff;
}
.react-autosuggest__section-container{

}
.react-autosuggest__section-title{

}
.react-autosuggest__section-suggestions-container{

}
