/* Mobile Phones */
@media screen and (max-width:360px) {
	
}

/* Mobile Phones */
@media screen and (max-width:480px) {
	
}

/* Mobile Phones */
@media screen and (max-width:640px)  {
	
}

/* Tablets Portrait or Landscape */
@media screen and (max-width:768px) {
	
	
}
/* Tablets Portrait or Landscape */
@media screen and (max-width:1028px) {

}
